body {
  font-family: Arial;
  background: #f5f6fa;
  text-align: center;
}

.hero {
  margin-top: 100px;
}

textarea {
  width: 80%;
  height: 120px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
