body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.chat-box {
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
}

.user {
  text-align: right;
  color: #38bdf8;
  margin: 10px;
}

.bot {
  text-align: left;
  color: #a3e635;
  margin: 10px;
}

.input-area {
  display: flex;
  padding: 10px;
}

input {
  flex: 1;
  padding: 10px;
}
